* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #34495e;
  font-family: sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ruleta-wrapper {
  position: r
